<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs')%>
</head>
<body>
  <%- include ('../partials/nav.ejs')%>
  <h1>EDIT Route</h1>

  <form class="editcontainer" action="/trails/<%=trail.id%>?_method=PUT" method="POST">
    <label for="name">Name:</label>
    <input class="editcard" type="text" name="name" value="<%=trail.name%>" /> </br>

    <label for="location">Location:</label>
    <input class="editcard" type="text" name="location" value="<%=trail.location%>" /> </br>

    <label for="difficulty">Difficulty:</label>
    <input class="editcard" type="text" name="difficulty" value="<%=trail.difficulty%>" /> </br>

    <label for="image">Name:</label>
    <input class="editcard" type="text" name="image" value="<%=trail.image%>" /> </br>

    <input class="editcard button" type="submit" value="Submit"> </br>
  </form>

  <a href="/trails/<%=trail.id%>">
    <button>Back</button>
  </a>

</body>
</html>
