<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs')%>
</head>
<body>
  <%- include ('../partials/nav.ejs')%>
  <h1>Find Trails</h1>

  <div class="container">
    <%for(let i = 0; i <= trails.length-1; i++) { %>
      <div class="card">
        <img class="cardimg" src="<%=trails[i].image%>" alt="img"></br>

        <div class="name"><%=trails[i].name%></div>
        <div class="location"><%=trails[i].location%></div>
        <div class="difficulty"><%=trails[i].difficulty%></div>
        
        <a href="/<%=trails[i]._id%>">
          <button class="button">View Trail</button>
        </a>

      </div>
    <%}%>

  </div>

  <a href="/new">
    <button class="button">New Trail</button>
  </a>



</body>
</html>