<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ('../partials/head.ejs')%>
</head>
<body>
  <%- include ('../partials/nav.ejs')%>
  <h1>Trail Info</h1>

  <div class="show-container">
    <img src="<%=trail.image%>" alt="img"> </br>
    <%=trail.name%> </br>
    <%=trail.location%> </br>
    <%=trail.difficulty%> </br>

    <a class="button" href="/trails/<%=trail._id%>/edit">
      <button>Edit</button>
    </a>

    <form action="/trails/<%=trail.id%>?_method=DELETE" method="POST">
      <input class="button" type="submit" value="DELETE"/>
    </form>

    <a class="button" href="/trails">
      <button>Back</button>
    </a>
  </div>

</body>
</html>